<footer id="footer" class="w-full h-10 border-t border-zinc-100 ">
  <div class="max-w-7xl m-auto px-5">
    <div class="flex flex-wrap justify-between items-start gap-8 py-10">
        <section class="flex">
          <div class="flex flex-col gap-2">
            <span class="font-katibeh font-bold text-xl sm:text-2xl">Revolution</span>
            <h4 class="font-bold text-xs sm:text-base" >Siga-nos nas redes sociais.</h4>
            <ul class="flex gap-2">
              <li class="max-w-4" >
                <img src="assets/facebookIcon.svg" alt="facebook">
              </li>
              <li class="max-w-4">
                <img src="assets/instagranIcon.svg" alt="facebook">
              </li>
              <li class="max-w-4">
                <img src="assets/twitterIcon.svg" alt="facebook">
              </li>
            </ul>
          </div>
        </section>
        <section class="flex flex-col">
          <h4 class="font-bold text-xs sm:text-base">Visite-nos</h4>
          <p class="text-xs sm:text-base">Av. presidente vargas, nº 1 sala: 2024</p>
          <p class="text-xs sm:text-base">Rio de Janeiro - RJ</p>
        </section>
        <section class="flex flex-col">
          <h4 class="font-bold text-xs sm:text-base">Entre em contato conosco</h4>
          <p class="text-xs sm:text-base">+55 (21)9999-9999</p>
          <p class="text-xs sm:text-base">revolution.market&#64;mail.com</p>
        </section>
      </div>
    </div>
</footer>
