<section>
  <div class=" max-w-xl m-auto">
    <div class="flex flex-col justify-center items-center gap-5 p-2">
      <h1 class="font-playfair font-bold text-[clamp(2.4rem,3vw,3.55rem)] text-center">Agência digital que você merece</h1>
      <p class="font-lexend font-normal tex-[clamp(1rem,1vw,1.5rem)] text-center text-zinc-950/60">Revolution é uma empresa líder, dedicada a tornar suas visões uma realidade digital, através de soluções personalizadas e expertise especializada.</p>
      <a href="#footer" class="inline-flex justify-center items-center bg-zinc-300 p-3  text-zinc-600 rounded-full font-lexend font-medium">
        <span class="flex gap-2 items-center justify-center">
          <p class="font-medium">Contact Us</p>
          <img src="/assets/phone.svg" alt="Telefone" class="size-4">
        </span>
      </a>
    </div>
  </div>
</section>
