<section class="bg-teal-500 m-auto mb-10">
  <div class="max-w-7xl px-2 py-4  m-auto">
    <div class="flex flex-col justify-between items-center gap-10 sm:flex-row">
      <div class="flex flex-col gap-4 items-center max-w-[400px] ">
        <h1 class="font-lexend font-bold text-[clamp(1.8rem,3vw,2rem)] text-center">
          Inscreva-se aqui! Entraremos em contato.
        </h1>
        <p class="text-center text-3 font-semibold">Descubra nossa equipe e como podemos ajudá-lo a aumentar a visibilidade da sua empresa.</p>
        <a href="#" class="inline-flex justify-center items-center bg-white py-3 px-4 text-black rounded-full font-lexend font-medium max-w-52">Inscrever-se</a>
      </div>
      <div>
        <img src="assets/alltimepeople.jpg" alt="Pesoas reunidas" class="object-cover">
      </div>
    </div>
  </div>
</section>
